<div>
    <h2 translate="easySaleCivilApp.imobiliaria.home.title">Imobiliarias</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="imobiliaria.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="easySaleCivilApp.imobiliaria.home.createLabel">
                        Create new Imobiliaria
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'easySaleCivilApp.imobiliaria.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th nowrap><span translate="global.field.id">ID</span></th>
                    <th nowrap><span translate="easySaleCivilApp.imobiliaria.nome">Nome</span></th>
                    <th nowrap><span translate="easySaleCivilApp.imobiliaria.endereco">Endereco</span></th>
                    <th nowrap><span translate="easySaleCivilApp.imobiliaria.telefone">Telefone</span></th>
                    <th nowrap><span translate="easySaleCivilApp.imobiliaria.nomeResponsavel">Nome Responsavel</span></th>
                    <th nowrap><span translate="easySaleCivilApp.imobiliaria.creciResponsavel">Creci Responsavel</span></th>
                    <th nowrap><span translate="easySaleCivilApp.imobiliaria.indAtiva">Ind Ativa</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="imobiliaria in vm.imobiliarias track by imobiliaria.id">
                    <td><a ui-sref="imobiliaria-detail({id:imobiliaria.id})">{{imobiliaria.id}}</a></td>
                    <td>{{imobiliaria.nome}}</td>
                    <td>{{imobiliaria.endereco}}</td>
                    <td>{{imobiliaria.telefone}}</td>
                    <td>{{imobiliaria.nomeResponsavel}}</td>
                    <td>{{imobiliaria.creciResponsavel}}</td>
                    <td>{{imobiliaria.indAtiva}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="imobiliaria-detail({id:imobiliaria.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="imobiliaria.edit({id:imobiliaria.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="imobiliaria.delete({id:imobiliaria.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
